<section class="catalog">
    <div class="container">
    <h2 class="title-Catalog title-catalog-container">
        Catalog
    </h2>

    <ul class="catalog-list">
        <li class="catalog-item">
            <div class="catalog-div">
<picture>
    <source srcset="../img/watch-1-x1.jpg 1x, ../images/watch-1-x2.jpg 2x "
        media="(min-width:1158px)">
    <source
        srcset="./images/img1.jpg 1x, ./images/banking-2x.jpg 2x  "
        media="(min-width: 768px)">
    <source srcset="./images/img1.jpg 1x, ./images/banking-2x.jpg 2x "
        media="(min-width:320px)">
            <img src="./images/img1.jpg" alt="Banking-App" width="368" class="portfolio-images">
</picture>

            </div>
            <div class="portfolio-item-div">
            <h3 class="portfolio-subtitle">Banking App</h3>
            <p class="portfolio-text">App</p>
        </div>
        </li>
        
        <li class="portfolio-item">
            <div class="portfolio-div">
<picture>
    <source srcset="./images/img2.jpg, ./images/cashless-2x.jpg 2x"
        media="(min-width:1158px)">
    <source srcset="./images/img2.jpg, ./images/cashless-2x.jpg 2x" media="(min-width:768px)">
    <source srcset="./images/img2.jpg, ./images/cashless-2x.jpg 2x" media="(min-width:320px)">
            <img src="./images/img2.jpg" alt="Cashless-Payment" width="368" class="portfolio-images">
            </picture>

            </div>
            <div class="portfolio-item-div">
            <h3 class="portfolio-subtitle">Cashless Payment</h3>
            <p class="portfolio-text">Marketing</p>
        </div>
        </li>

        <li class="portfolio-item">
            <div class="portfolio-div">
<picture>
    <source srcset="./images/img3.jpg 1x, ./images/meditation-2x.jpg 2x" media="(min-width:1158px)">
    <source srcset="./images/img3.jpg 1x, ./images/meditation-2x.jpg 2x " media="(min-width:768px)">
    <source srcset="./images/img3.jpg 1x, ./images/meditation-2x.jpg 2x" media="(min-width:320px)">
            <img src="./images/img3.jpg" alt="Meditation-App" width="368" class="portfolio-images">
</picture>

            </div>

            <div class="portfolio-item-div">
            <h3 class="portfolio-subtitle">Meditation App</h3>
            <p class="portfolio-text">App</p>
            </div>
        </li>
        <li class="portfolio-item">
            <div class="portfolio-div">
<picture>
    <source srcset="./images/img4.jpg 1x, ./images/taxi-2x.jpg 2x" media="(min-width:1158px)">
    <source srcset="./images/img4.jpg 1x, ./images/taxi-2x.jpg 2x " media="(min-width:768px)">
    <source srcset="./images/img4.jpg 1x, ./images/taxi-2x.jpg 2x" media="(min-width:320px)">
            <img src="./images/img4.jpg" alt="Taxi-Service" width="368" class="portfolio-images">
</picture>

            </div>
            <div class="portfolio-item-div">
            <h3 class="portfolio-subtitle">Taxi Service</h3>
            <p class="portfolio-text">Marketing</p>
            </div>
        </li>

        <li class="portfolio-item">
            <div class="portfolio-div">
<picture>
    <source srcset="./images/img5.jpg 1x, ./images/screen-2x.jpg 2x" media="(min-width:1158px)">
    <source srcset="./images/img5.jpg 1x, ./images/screen-2x.jpg 2x" media="(min-width:768px)">
    <source srcset="./images/img5.jpg 1x, ./images/screen-2x.jpg 2x" media="(min-width:320px)">
            <img src="./images/img5.jpg" alt="Screen-Illustrations" width="368" class="portfolio-images">
            </picture>
            
            </div>
            <div class="portfolio-item-div">
            <h3 class="portfolio-subtitle">Screen Illustrations</h3>
            <p class="portfolio-text">Design</p>
            </div>
        </li>

        <li class="portfolio-item">
            <div class="portfolio-div">
<picture>
    <source srcset="./images/img6.jpg 1x, ./images/online-2x.jpg 2x" media="(min-width:1158px)">
    <source srcset="../images/img6.jpg 1x, ./images/online-2x.jpg 2x" media="(min-width:768px)">
    <source srcset="./images/img6.jpg 1x, ./images/online-2x.jpg 2x" media="(min-width:320px)">
            <img src="./images/img6.jpg" alt="Online-Courses" width="368" class="portfolio-images">
             </picture>

            </div>
            <div class="portfolio-item-div">
            <h3 class="portfolio-subtitle">Online Courses</h3>
            <p class="portfolio-text">Marketing</p>
            </div>
        </li>
      </ul>
    </div>
  </section>